<h2>Por Pais</h2>
<hr />
<div class="animate__animated animate__bounce">
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        label="Por Pais.."
      >
      </app-pais-input>
    </div>
  </div>
  <ul class="list-group" *ngIf="mostrarSugerencias">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let pais of paisesSugeridos"
    >
      <a href="" [routerLink]="['/pais', pais.alpha2Code]"> {{ pais.name }}</a>
    </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="buscarSugerido(termino)"
    >
      <a href=""> Buscar {{ termino }}</a>
    </li>
  </ul>
</div>

<div class="alert alert-danger" *ngIf="hayError">
  No se econtre nada con el termino
</div>
<app-pais-tabla [paises]="paises"></app-pais-tabla>
