<h2>Por Pais</h2>
<hr />

<div class="row">
  <div class="col">
    <form action="" autocomplete="off" (ngSubmit)="buscar()">
      <input
        type="text"
        name="termino"
        id=""
        class="form-control"
        placeholder="Buscar Pais.."
        [(ngModel)]="termino"
      />
    </form>
  </div>
</div>
<hr />
<div class="alert alert-danger" *ngIf="hayError">
  No se econtre nada con el termino
</div>
<div class="row" *ngIf="paises.length > 0">
  <div class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of paises; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img [src]="pais.flag" alt="" class="small-flag" /></td>
        <td>{{ pais.name }}</td>
        <td>{{ pais.population | number }}</td>
        <td><a [routerLink]="['/pais', pais.alpha2Code]">Ver mas</a></td>
      </tr>
    </tbody>
  </div>
</div>
